/* VideoPlayer.css */

.video-player-wrapper {
  position: relative;
  width: 100%; /* Anchura ajustable según tus necesidades */
  margin: 0 auto; /* Centrado horizontal */
  border-radius: 0px; /* Bordes redondos */
  overflow: hidden; /* Para ocultar cualquier parte del reproductor que sobresalga del contenedor */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.video-player-wrapper .react-player {
  width: 100%;
  height: 100%;
}

.video-player-wrapper .no-stream {
  position: relative;
}

.video-player-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo con transparencia */
}

.video-player-wrapper .countdown,
.video-player-wrapper .next-stream {
  position: absolute;
  left: 50%; /* Coloca el texto en el centro horizontalmente */
  transform: translateX(-50%); /* Centra el texto horizontalmente */
  font-family: 'Arial', sans-serif; /* Fuente */
  color: white; /* Color del texto */
}

.video-player-wrapper .countdown {
  top: 40%; /* Posiciona el cronómetro arriba */
  font-size: 5vw; /* Tamaño del cronómetro (responsive) */
}

.video-player-wrapper .next-stream {
  top: 55%; /* Posiciona el texto abajo y un poco más separado del cronómetro */
  font-size: 2vw; /* Tamaño del texto (responsive) */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo con transparencia */
  padding: 0.5vw; /* Añade un espacio más pequeño alrededor del texto (responsive) */
  border-radius: 5px; /* Bordes redondos */
}

@media screen and (max-width: 768px) {
  .video-player-wrapper .countdown {
    font-size: 8vw; /* Tamaño del cronómetro para pantallas pequeñas */
  }

  .video-player-wrapper .next-stream {
    font-size: 3.5vw; /* Tamaño del texto para pantallas pequeñas */
    padding: 0.3vw; /* Espacio alrededor del texto más pequeño para pantallas pequeñas */
  }
}
